/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    background-image: url("/asset/inata1.jpg");
    background-position: none;
    background-size: cover;
    background-repeat: repeat;
} 

.container {
    width: 100%;
    max-width: 350px;
    margin: 20px;
    
}

.login-box {
    background-color:palevioletred;
    border: 1px solid pink;
    padding: 40px;
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    font-family: fantasy;
    font-size: 48px;
    margin-bottom: 20px;
}
form input {
    width: 100%;
    padding: 10px;
    margin: 8px 1px;
    border: 1px solid #c44493;
    border-radius: 5px;
    background-color: #ffffff;
}

form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #d40c9877;
    border: none;
    color: white;
    cursor:cell;
}
.line{
    width: 300px; 
    height: 1px; 
    background-color: black; 
}
a{ 
    border: 1px solid rgb(201, 17, 17);
    border-radius: 50% ;
     text-decoration: none;
    width: 50px;
    color: black;
}





 */
